<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>

    {#----------------Modal------------------------------------------------------------------------------------------------#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {#---------------------------------------------------------------------------------------------------------------------#}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
<div class="navbar-container">
    <nav class="navMenu">
        <img class="image" src="{{ url_for('static', filename='/img/codecool-logo.png') }}" alt="logo"
             draggable="false">
        {% if not session.username %}
            <a id="registration" href="/registration">Register</a>
            <a id="login" href="/login">Login</a>
        {% else %}
            <span id="welcome">Welcome, {{ session.username }}.</span>
            <a id="logout" href="/logout">Logout</a>
        {% endif %}
        <div class="dot"></div>
    </nav>
</div>
{#------------------------------Modal Start------------------------------------------------------------------------------#}
<div id="modalContainer"></div>
{#<div class="modal fade" id="AddColumnModal" role="dialog">#}
{#    <div class="modal-dialog">#}
{#        <!-- Modal content-->#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                <h4 class="modal-title">Add new column!</h4>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <label for="add-column-name">Add a column</label>#}
{#                <input type="text" id="add-column-name" placeholder="Column name" minlength="1">#}
{#                <button id="submit-new-column-title" data-dismiss="modal">Create</button>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <span class="board-id-for-modal"></span>#}
{#                <button id="submit-new-column-title" class="btn" data-dismiss="modal" >Create</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#------------------------------Modal End--------------------------------------------------------------------------------#}
<div id="root"></div>
</body>
</html>
