<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>

    {#----------------Modal------------------------------------------------------------------------------------------------#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    {#---------------------------------------------------------------------------------------------------------------------#}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
<div class="navbar-container">
    <nav class="navMenu">
        <img class="image" src="{{ url_for('static', filename='/img/codecool-logo.png') }}" alt="logo"
             draggable="false">
        {% if not session.username %}
            <a id="registration" href="/registration">Register</a>
            <a id="login" href="/login">Login</a>
            <i onClick="window.location.href=window.location.href" class="fas fa-redo refresh pointer"></i>
            <span id="add-new-board"><button id="create-new-board" data-user-id="">Create new board</button></span>
        {% else %}
            <i onClick="window.location.href=window.location.href" class="fas fa-redo refresh pointer"></i>
            <span id="welcome">Welcome, {{ session.username }}.</span>
            <a id="logout" href="/logout">Logout</a>

            <span id="add-new-board"><button id="create-new-board" data-user-id="{{ session.id }}">Create new private board</button></span>
        {% endif %}
        <div class="dot"></div>
    </nav>
</div>

<div class="content-container">

    <div id="root"></div>

    <div class="session-history-container">
        <div class="session-history">
            <ol class="session-history-list"></ol>
        </div>
    </div>
</div>

<div id="modalContainer"></div>

</body>
</html>
